[Unit]
Description=Run Monica cron php every 5 minutes

[Timer]
# start 5 min after boot
OnBootSec=5min
# then run every 5 min
OnUnitActiveSec=5min
Unit={{ monica.cron }}.service

[Install]
WantedBy=timers.target
