[Unit]
Description=Monica cron php job

[Service]
User={{ monica.owner }}
{# note, schedule:run does not like arguments (such as >> /dev/null), fails #}
ExecStart=/usr/bin/php -f {{ monica.wwwroot }}/artisan schedule:run

[Install]
WantedBy=basic.target
