#
# Welcome, friend ❤. Thanks for trying out Monica. We hope you'll have fun.
#

# Two choices: local|production. Use local if you want to install Monica as a
# development version. Use production otherwise.
# NOTE: local with TLS reverse proxy causes bad rendering (keeps pointing to 
# images/css over http, which the browser refuses). Solved by using production.
# https://github.com/monicahq/monica/issues/835
# https://github.com/monicahq/monica/issues/5451
# https://github.com/monicahq/monica/issues/4935
# https://github.com/monicahq/monica/issues/5954
# https://github.com/monicahq/monica/issues/6024
APP_ENV={{ monica.env.app_env }}

# true if you want to show debug information on errors. For production, put this
# to false.
APP_DEBUG={{ monica.env.app_debug }}

# The encryption key. This is the most important part of the application. Keep
# this secure otherwise, everyone will be able to access your application.
# Must be 32 characters long exactly.
# Use `php artisan key:generate` to generate a random key.
APP_KEY={{ monica.env.app_key }}

# Prevent information leakage by referring to IDs with hashIds instead of
# the actual IDs used in the database.
HASH_SALT={{ monica.env.hash_salt }}
HASH_LENGTH={{ monica.env.hash_length }}

# The URL of your application. Only used for email out formatting.
# https://github.com/monicahq/monica/issues/4935#issuecomment-799801877
APP_URL={{ monica.env.app_url }}

# Database information
# To keep this information secure, we urge you to change the default password
DB_CONNECTION={{ monica.database.connection }}
DB_HOST={{ monica.database.host }}
DB_PORT={{ monica.database.port }}
# IF mysql unix socket is set it overrides DB_HOST and DB_PORT values
{% if monica.database.socket is defined and monica.database.socket != "" %}
DB_UNIX_SOCKET={{ monica.database.socket }}
{% endif %}
DB_DATABASE={{ monica.database.name }}
DB_USERNAME={{ monica.database.user }}
DB_PASSWORD={{ monica.database.password }}
DB_PREFIX=
DB_TEST_HOST=127.0.0.1
DB_TEST_DATABASE=monica_test
DB_TEST_USERNAME=homestead
DB_TEST_PASSWORD=secret

# Use utf8mb4 database charset format to support emoji characters
# ⚠ be sure your DBMS supports utf8mb4 format
DB_USE_UTF8MB4=true

# Mail credentials used to send emails from the application.
MAIL_DRIVER={{ monica.mailer.driver }}
MAIL_HOST={{ monica.mailer.host }}
MAIL_PORT={{ monica.mailer.port }}
MAIL_USERNAME={{ monica.mailer.user }}
MAIL_PASSWORD={{ monica.mailer.pass }}
MAIL_ENCRYPTION=null
# Outgoing emails will be sent with these identity
MAIL_FROM_ADDRESS={{ monica.mailer.from_address }}
MAIL_FROM_NAME="{{ monica.mailer.from_name }}"
# New registration notification sent to this email
APP_EMAIL_NEW_USERS_NOTIFICATION={{ monica.mailer.notify }}

# Default locale used in the application.
APP_DEFAULT_LOCALE={{ monica.env.locale }}

# Ability to disable signups on your instance.
# Can be true or false. Default to false.
APP_DISABLE_SIGNUP={{ monica.env.disable_signup }}

# Enable user email verification.
APP_SIGNUP_DOUBLE_OPTIN={{ monica.env.signup_double_optin }}

# Set trusted proxy IP addresses.
# To trust all proxies that connect directly to your server, use a "*".
# To trust one or more specific proxies that connect directly to your server, use a comma separated list of IP addresses.
APP_TRUSTED_PROXIES={{ monica.env.trusted_proxies }}

# Enable automatic cloudflare trusted proxy discover
APP_TRUSTED_CLOUDFLARE=false

# Frequency of creation of new log files. Logs are written when an error occurs.
# Refer to config/logging.php for the possible values.
LOG_CHANNEL=daily

# Error tracking. Specific to hosted version on .com. You probably don't need
# those.
SENTRY_SUPPORT=false
SENTRY_LARAVEL_DSN=

# Send a daily ping to https://version.monicahq.com to check if a new version
# is available. When a new version is detected, you will have a message in the
# UI, as well as the release notes for the new changes. Can be true or false.
# Default to true.
CHECK_VERSION=true

# Change this only if you know what you are doing
CACHE_DRIVER=database
SESSION_DRIVER=file
SESSION_LIFETIME=120
# "sync" (default) will bypass the queues entirely (no async, no need for redis)
QUEUE_DRIVER=sync

# Maximum allowed size for uploaded files, in kilobytes.
# Make sure this is an integer, without commas or spaces.
DEFAULT_MAX_UPLOAD_SIZE=10240

# Maximum allowed storage size per account, in megabytes.
# Make sure this is an integer, without commas or spaces.
DEFAULT_MAX_STORAGE_SIZE=512

# Default filesystem to store uploaded files.
# Possible values: public|s3
DEFAULT_FILESYSTEM=public

# AWS keys for S3 when using this storage method
AWS_KEY=
AWS_SECRET=
AWS_REGION=us-east-1
AWS_BUCKET=
AWS_SERVER=

# Allow Two Factor Authentication feature on your instance
MFA_ENABLED=true

# Enable DAV support (beta feature)
DAV_ENABLED=false

# CLIENT ID and SECRET used for the official mobile application
# This is to make sure that only the mobile application that you approve can
# access the route to let your users sign in with their credentials
# Note: the official mobile application is not currently available on the stores.
MOBILE_CLIENT_ID=
MOBILE_CLIENT_SECRET=

# Allow to access general statistics about your instance through a public API
# call
ALLOW_STATISTICS_THROUGH_PUBLIC_API_ACCESS=false

# Indicates that each user in the instance must comply to international policies
# like CASL or GDPR
POLICY_COMPLIANT=false

# Have access to paid features available on https://monicahq.com, for free.
# Can be true or false. Default to false.
# If set to true, that means your users will have to pay to access the paid
# features. We use Stripe to do this.
REQUIRES_SUBSCRIPTION=false

# Number of contacts allowed in the Free version if the instance requires
# a subscription
NUMBER_OF_ALLOWED_CONTACTS_FREE_ACCOUNT=10

# ONLY NECESSARY IF MONICA REQUIRES A SUBSCRIPTION TO WORK
# Leave blank unless you know what you are doing.
STRIPE_KEY=
STRIPE_SECRET=
PAID_PLAN_MONTHLY_FRIENDLY_NAME=
PAID_PLAN_MONTHLY_ID=
PAID_PLAN_MONTHLY_PRICE=
PAID_PLAN_ANNUAL_FRIENDLY_NAME=
PAID_PLAN_ANNUAL_ID=
PAID_PLAN_ANNUAL_PRICE=

# Enable geolocation services
# This is used to translate addresses to GPS coordinates.
ENABLE_GEOLOCATION={{ monica.env.enable_geolocation }}

# API key for geolocation services
# We use LocationIQ (https://locationiq.com/) to translate addresses to
# latitude/longitude coordinates. We could use Google instead but we don't
# want to give anything to Google, ever.
# LocationIQ offers 10,000 free requests per day.
LOCATION_IQ_API_KEY={{ monica.env.api_locationiq }}

# Enable weather on contact profile page
# Weather can only be fetched if we know longitude/latitude - this is why
# you also need to activate the geolocation service above to make it work
ENABLE_WEATHER={{ monica.env.enable_weather }}

# Access to weather data from darksky api
# https://darksky.net/dev/register
# Darksky provides an api with 1000 free API calls per day
# You need to enable the weather above if you provide an API key here.
DARKSKY_API_KEY={{ monica.env.api_darksky }}
