[Desktop Entry]
Name=Monica
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ hostinfo.karachi.monica }}"
GenericName={{ hostinfo.karachi.monica }}
Comment=Open source personal CRM
Categories=Network;WebDevelopment;
Keywords=monica;webapp;crm;relations manager;
StartupWMClass=chromium-app-monica
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
