<VirtualHost *:80>
   ServerAdmin {{ monica.mailer.notify }}
   ServerName {{ monica.domain }}
   DocumentRoot {{ monica.wwwroot }}/public

   <Directory {{ monica.wwwroot }}/public>
      Options Indexes FollowSymLinks
      AllowOverride All
      Require all granted
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/{{ monica.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ monica.domain }}_access.log combined
</VirtualHost>
